<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ate.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />

        <!-- 轮询网络请求 -->
        <activity android:name=".activity.RxJavaRequest" />

        <!-- 变换操作符测试 -->
        <activity android:name=".activity.SecondActivity" />

        <!-- 嵌套网络请求 -->
        <activity android:name=".activity.RxJavaNestedRequestActivity" />

        <!-- 组合操作符测试 -->
        <activity android:name=".activity.ThirdActivity" />

        <!-- 模拟从内存/磁盘/网络获取数据 -->
        <activity android:name=".activity.GetDataFromActivity" />

        <!-- merge和zip操作符应用 -->
        <activity android:name=".activity.MergeAndZipActivity" />

        <!-- 功能性操作符测试 -->
        <activity android:name=".activity.FourthActivity" />

        <!-- 有条件轮询repeatWhen操作符应用 -->
        <activity android:name=".activity.RxJavaRequest2" />

        <!-- 网络请求出错重连 -->
        <activity android:name=".activity.RxJavaRequest3" />

        <!-- 线程的控制(切换/调度) -->
        <activity android:name=".activity.RxJavaRequest4" />

        <!-- 过滤操作符测试&功能防抖 -->
        <activity android:name=".activity.FifthActivity" />

        <!-- 联想搜索优化 -->
        <activity android:name=".activity.FilterSearchActivity" />

        <!-- 条件 / 布尔操作符 -->
        <activity android:name=".activity.SixthActivity" />

        <!-- 背压策略 重要 -->
        <activity android:name=".activity.BackPressureStrategyActivity"></activity>

        <!-- retrofit练手 -->
        <activity android:name=".activity.RetrofitPracticeActivity">

        </activity>

        <!--rxlifecycler测试-->
        <activity android:name=".activity.RxlifecyclerTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>